.product-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 210px;
  border: 1px solid;
  padding: 5px;
  margin: 5px;
}
.product-img {
  height: 200px;
  width: 200px;
}
.product-title {
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page-no {
  height: 25px;
  width: 20px;
  border: 1px solid black;
  padding: 3px;
}
