.Chip {
  border: 1px solid black;
  width: fit-content;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: antiquewhite;
}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
