.options {
  display: flex;
  flex-direction: column;
}
.btn-option {
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.btn-option:hover {
  background-color: rgba(255, 187, 248, 0.768);
}
.btn-next {
  padding: 3px 6px;
  width: 50px;
  float: right;
  margin-top: 15px;
  background-color: hwb(25 37% 0%);
  border: none;
  border-radius: 5px;
}
