.parent {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.stepNumber {
  border: 1px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: rgb(208, 208, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.progressBar {
  position: absolute;
  top: 25%;
  width: 100%;
  left: 0;
  height: 4px;
  background-color: rgb(208, 208, 208);
}

.active .stepNumber {
  background-color: blue;
  color: white;
}

.complete .stepNumber {
  background-color: rgb(135, 207, 27);
  color: aliceblue;
}
