.recipies-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.recipies-item {
  padding: 2px;
  width: 300px;
}
.recipies-item:hover {
  background-color: rgb(198, 198, 198);
  cursor: pointer;
}

.input {
  width: 300px;
}
